# Tự nhận diện tệp chữ và chuẩn hoá xuống dòng LF
* text=auto eol=lf
# Tệp chạy trên Windows cần CRLF, tệp chạy trên Mac cần LF
*.bat text eol=crlf
*.command text eol=lf
*.sh text eol=lf
*.png binary
*.jpg binary
*.woff2 binary
